In [1]:
!pip list

Package                            Version
---------------------------------- ---------
alabaster                          0.7.10
anaconda-client                    1.6.14
anaconda-navigator                 1.8.7
anaconda-project                   0.8.2
asn1crypto                         0.24.0
astroid                            1.6.3
astropy                            3.0.2
attrs                              18.1.0
Babel                              2.5.3
backcall                           0.1.0
backports.shutil-get-terminal-size 1.0.0
beautifulsoup4                     4.6.0
bitarray                           0.8.1
bkcharts                           0.2
blaze                              0.11.3
bleach                             2.1.3
bokeh                              0.12.16
boto                               2.48.0
Bottleneck                         1.2.1
certifi                            2018.4.16
cffi                               1.11.5
chardet                            3.0.4
click                              6.7
cloudpickle                        0.5.3
clyent                             1.2.2
colorama                           0.3.9
conda                              4.5.4
conda-build                        3.10.5
conda-verify                       2.0.0
contextlib2                        0.5.5
cryptography                       2.2.2
cycler                             0.10.0
Cython                             0.28.2
cytoolz                            0.9.0.1
dask                               0.17.5
datashape                          0.5.4
decorator                          4.3.0
distributed                        1.21.8
docutils                           0.14
entrypoints                        0.2.3
et-xmlfile                         1.0.1
fastcache                          1.0.2
filelock                           3.0.4
Flask                              1.0.2
Flask-Cors                         3.0.4
gevent                             1.3.0
glob2                              0.6
gmpy2                              2.0.8
greenlet                           0.4.13
h5py                               2.7.1
heapdict                           1.0.0
html5lib                           1.0.1
idna                               2.6
imageio                            2.3.0
imagesize                          1.0.0
ipykernel                          4.8.2
ipython                            6.4.0
ipython-genutils                   0.2.0
ipywidgets                         7.2.1
isort                              4.3.4
itsdangerous                       0.24
jdcal                              1.4
jedi                               0.12.0
Jinja2                             2.10
jsonschema                         2.6.0
jupyter                            1.0.0
jupyter-client                     5.2.3
jupyter-console                    5.2.0
jupyter-core                       4.4.0
jupyterlab                         0.32.1
jupyterlab-launcher                0.10.5
kiwisolver                         1.0.1
lazy-object-proxy                  1.3.1
llvmlite                           0.23.1
locket                             0.2.0
lxml                               4.2.1
MarkupSafe                         1.0
matplotlib                         2.2.2
mccabe                             0.6.1
mistune                            0.8.3
mkl-fft                            1.0.0
mkl-random                         1.0.1
more-itertools                     4.1.0
mpmath                             1.0.0
msgpack-python                     0.5.6
multipledispatch                   0.5.0
navigator-updater                  0.2.1
nbconvert                          5.3.1
nbformat                           4.4.0
networkx                           2.1
nltk                               3.3
nose                               1.3.7
notebook                           5.5.0
numba                              0.38.0
numexpr                            2.6.5
numpy                              1.14.3
numpydoc                           0.8.0
odo                                0.5.1
olefile                            0.45.1
openpyxl                           2.5.3
packaging                          17.1
pandas                             0.23.0
pandocfilters                      1.4.2
parso                              0.2.0
partd                              0.3.8
path.py                            11.0.1
pathlib2                           2.3.2
patsy                              0.5.0
pep8                               1.7.1
pexpect                            4.5.0
pickleshare                        0.7.4
Pillow                             5.1.0
pip                                10.0.1
pkginfo                            1.4.2
pluggy                             0.6.0
ply                                3.11
prompt-toolkit                     1.0.15
psutil                             5.4.5
ptyprocess                         0.5.2
py                                 1.5.3
pycodestyle                        2.4.0
pycosat                            0.6.3
pycparser                          2.18
pycrypto                           2.6.1
pycurl                             7.43.0.1
pyflakes                           1.6.0
Pygments                           2.2.0
pylint                             1.8.4
pyodbc                             4.0.23
pyOpenSSL                          18.0.0
pyparsing                          2.2.0
PySocks                            1.6.8
pytest                             3.5.1
pytest-arraydiff                   0.2
pytest-astropy                     0.3.0
pytest-doctestplus                 0.1.3
pytest-openfiles                   0.3.0
pytest-remotedata                  0.2.1
python-dateutil                    2.7.3
pytz                               2018.4
PyWavelets                         0.5.2
PyYAML                             3.12
pyzmq                              17.0.0
QtAwesome                          0.4.4
qtconsole                          4.3.1
QtPy                               1.4.1
requests                           2.18.4
rope                               0.10.7
ruamel-yaml                        0.15.35
scikit-image                       0.13.1
scikit-learn                       0.19.1
scipy                              1.1.0
seaborn                            0.8.1
Send2Trash                         1.5.0
setuptools                         39.1.0
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
six                                1.11.0
snowballstemmer                    1.2.1
sortedcollections                  0.6.1
sortedcontainers                   1.5.10
Sphinx                             1.7.4
sphinxcontrib-websupport           1.0.1
spyder                             3.2.8
SQLAlchemy                         1.2.7
statsmodels                        0.9.0
sympy                              1.1.1
tables                             3.4.3
tblib                              1.3.2
terminado                          0.8.1
testpath                           0.3.1
toolz                              0.9.0
tornado                            5.0.2
traitlets                          4.3.2
typing                             3.6.4
unicodecsv                         0.14.1
urllib3                            1.22
wcwidth                            0.1.7
webencodings                       0.5.1
Werkzeug                           0.14.1
wheel                              0.31.1
widgetsnbextension                 3.2.1
wrapt                              1.10.11
xlrd                               1.1.0
XlsxWriter                         1.0.4
xlwt                               1.3.0
zict                               0.1.3

You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
"/home/rishabhdhiman/Desktop/Raj/av hackathon/data/train_aox2Jxw/"
# above directory contains train.csv and DD.xlsx

'/home/rishabhdhiman/Desktop/Raj/av hackathon/data/train_aox2Jxw/'

In [25]:
# imports
import pandas as pd
import numpy as np
import datetime as dt
import re
from datetime import timedelta

pd.set_option('display.max_columns', 100)

In [8]:
dd = pd.read_excel("/home/rishabhdhiman/Desktop/Raj/av hackathon/data/train_aox2Jxw/DD.xlsx")
dd.head(100)

,Variable Name,Description,Unnamed: 2
0,UniqueID,Identifier for customers,NaN
1,loan_default,Payment default in the first EMI on due date,NaN
2,disbursed_amount,Amount of Loan disbursed,NaN
3,asset_cost,Cost of the Asset,NaN
4,ltv,Loan to Value of the asset,NaN
5,branch_id,Branch where the loan was disbursed,NaN
6,supplier_id,Vehicle Dealer where the loan was disbursed,NaN
7,manufacturer_id,"Vehicle manufacturer(Hero, Honda, TVS etc.)",NaN
8,Current_pincode,Current pincode of the customer,NaN
9,Date.of.Birth,Date of birth of the customer,NaN
10,Employment.Type,Employment Type of the customer (Salaried/Self...,NaN
11,DisbursalDate,Date of disbursement,NaN
12,State_ID,State of disbursement,NaN
13,Employee_code_ID,Employee of the organization who logged the di...,NaN
14,MobileNo_Avl_Flag,if Mobile no. was shared by the customer then ...,NaN
15,Aadhar_flag,if aadhar was shared by the customer then flag...,NaN
16,PAN_flag,if pan was shared by the customer then flagged...,NaN
17,VoterID_flag,if voter was shared by the customer then flag...,NaN
18,Driving_flag,if DL was shared by the customer then flagged ...,NaN
19,Passport_flag,if passport was shared by the customer then fl...,NaN
20,PERFORM_CNS.SCORE,Bureau Score,NaN
21,PERFORM_CNS.SCORE.DESCRIPTION,Bureau score description,NaN
22,PRI.NO.OF.ACCTS,count of total loans taken by the customer at ...,Primary accounts are those which the customer ...
23,PRI.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
24,PRI.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
25,PRI.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
26,PRI.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
27,PRI.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
28,SEC.NO.OF.ACCTS,count of total loans taken by the customer at ...,Secondary accounts are those which the custome...
29,SEC.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
30,SEC.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
31,SEC.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
32,SEC.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
33,SEC.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
34,PRIMARY.INSTAL.AMT,EMI Amount of the primary loan,NaN
35,SEC.INSTAL.AMT,EMI Amount of the secondary loan,NaN
36,NEW.ACCTS.IN.LAST.SIX.MONTHS,New loans taken by the customer in last 6 mont...,NaN
37,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Loans defaulted in the last 6 months,NaN
38,AVERAGE.ACCT.AGE,Average loan tenure,NaN
39,CREDIT.HISTORY.LENGTH,Time since first loan,NaN
40,NO.OF_INQUIRIES,Enquries done by the customer for loans,NaN

In [20]:
df = pd.read_csv("/home/rishabhdhiman/Desktop/Raj/av hackathon/data/train/train.csv")
print(f"shape of data frame is {df.shape}")
df.head()

shape of data frame is (233154, 41)

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
UniqueID                               233154 non-null int64
disbursed_amount                       233154 non-null int64
asset_cost                             233154 non-null int64
ltv                                    233154 non-null float64
branch_id                              233154 non-null int64
supplier_id                            233154 non-null int64
manufacturer_id                        233154 non-null int64
Current_pincode_ID                     233154 non-null int64
Date.of.Birth                          233154 non-null object
Employment.Type                        225493 non-null object
DisbursalDate                          233154 non-null object
State_ID                               233154 non-null int64
Employee_code_ID                       233154 non-null int64
MobileNo_Avl_Flag                      233154 non-null int64
Aadhar_flag                            233154 non-null int64
PAN_flag                               233154 non-null int64
VoterID_flag                           233154 non-null int64
Driving_flag                           233154 non-null int64
Passport_flag                          233154 non-null int64
PERFORM_CNS.SCORE                      233154 non-null int64
PERFORM_CNS.SCORE.DESCRIPTION          233154 non-null object
PRI.NO.OF.ACCTS                        233154 non-null int64
PRI.ACTIVE.ACCTS                       233154 non-null int64
PRI.OVERDUE.ACCTS                      233154 non-null int64
PRI.CURRENT.BALANCE                    233154 non-null int64
PRI.SANCTIONED.AMOUNT                  233154 non-null int64
PRI.DISBURSED.AMOUNT                   233154 non-null int64
SEC.NO.OF.ACCTS                        233154 non-null int64
SEC.ACTIVE.ACCTS                       233154 non-null int64
SEC.OVERDUE.ACCTS                      233154 non-null int64
SEC.CURRENT.BALANCE                    233154 non-null int64
SEC.SANCTIONED.AMOUNT                  233154 non-null int64
SEC.DISBURSED.AMOUNT                   233154 non-null int64
PRIMARY.INSTAL.AMT                     233154 non-null int64
SEC.INSTAL.AMT                         233154 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           233154 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    233154 non-null int64
AVERAGE.ACCT.AGE                       233154 non-null object
CREDIT.HISTORY.LENGTH                  233154 non-null object
NO.OF_INQUIRIES                        233154 non-null int64
loan_default                           233154 non-null int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

In [5]:
# percentage of positives and negatives in the data
print("percentage of -ves and +ves in the data: ", [len(df[df["loan_default"] == item])/df.shape[0] for item in [0, 1]])

percentage of -ves and +ves in the data:  [0.7829288796246258, 0.2170711203753742]

In [6]:
# checking unique values
uniqueD = {col: df[col].unique() for col in df.columns if df[col].nunique() < 100}
for k, v in zip(uniqueD.keys(), uniqueD.values()):
    print(f'key {k} has following values:')
    print('\n')
    print(v)
    print(f'count of unique: {len(v)}')
    print('\n\n')
    
# MobileNo_Avl_Flag is useless feature drop it

key branch_id has following values:


[ 67  78  34 130  74  11   5  20  63  48  79   3  42 142  36  16 146 147
  65   9   1 152  29  10  70  19   7  85  61  17   8 153  18 162  68  72
  64   2 160 251 103 104 120 136  77  13 138 135  73 248  15 165  62  76
 105 249 250 255 254  82 158 159 117 202 259 207  35  69  97  43 257 258
 260 111  66 261 101  14 121 217  84 100]
count of unique: 82



key manufacturer_id has following values:


[ 45  86  48  51 120  49 145  67 153 156 152]
count of unique: 11



key Employment.Type has following values:


['Salaried' 'Self employed' nan]
count of unique: 3



key DisbursalDate has following values:


['03-08-18' '26-09-18' '01-08-18' '26-10-18' '19-09-18' '23-09-18'
 '16-09-18' '05-09-18' '29-09-18' '03-09-18' '30-08-18' '31-08-18'
 '22-10-18' '18-09-18' '20-09-18' '06-09-18' '11-10-18' '20-10-18'
 '27-08-18' '08-10-18' '17-09-18' '10-09-18' '18-10-18' '16-08-18'
 '10-10-18' '23-10-18' '30-09-18' '21-09-18' '12-09-18' '21-08-18'
 '14-08-18' '17-10-18' '30-10-18' '06-08-18' '04-10-18' '16-10-18'
 '21-10-18' '15-09-18' '06-10-18' '24-10-18' '28-08-18' '13-09-18'
 '31-10-18' '07-09-18' '24-08-18' '05-10-18' '14-10-18' '13-10-18'
 '11-08-18' '28-09-18' '25-10-18' '29-10-18' '10-08-18' '12-08-18'
 '25-08-18' '26-08-18' '08-08-18' '27-10-18' '18-08-18' '23-08-18'
 '20-08-18' '22-09-18' '24-09-18' '15-10-18' '28-10-18' '14-09-18'
 '04-09-18' '13-08-18' '17-08-18' '29-08-18' '27-09-18' '04-08-18'
 '03-10-18' '08-09-18' '25-09-18' '22-08-18' '09-08-18' '09-10-18'
 '19-10-18' '07-08-18' '11-09-18' '12-10-18' '05-08-18' '02-10-18']
count of unique: 84



key State_ID has following values:


[ 6  4  3  9  5 10 18 15  1 16 13 14 17  2 11  7 12  8 20 19 22 21]
count of unique: 22



key MobileNo_Avl_Flag has following values:


[1]
count of unique: 1



key Aadhar_flag has following values:


[1 0]
count of unique: 2



key PAN_flag has following values:


[0 1]
count of unique: 2



key VoterID_flag has following values:


[0 1]
count of unique: 2



key Driving_flag has following values:


[0 1]
count of unique: 2



key Passport_flag has following values:


[0 1]
count of unique: 2



key PERFORM_CNS.SCORE.DESCRIPTION has following values:


['No Bureau History Available' 'I-Medium Risk' 'L-Very High Risk'
 'A-Very Low Risk' 'Not Scored: Not Enough Info available on the customer'
 'D-Very Low Risk' 'M-Very High Risk' 'B-Very Low Risk' 'C-Very Low Risk'
 'E-Low Risk' 'H-Medium Risk' 'F-Low Risk' 'K-High Risk'
 'Not Scored: No Activity seen on the customer (Inactive)'
 'Not Scored: Sufficient History Not Available'
 'Not Scored: No Updates available in last 36 months' 'G-Low Risk'
 'J-High Risk' 'Not Scored: Only a Guarantor'
 'Not Scored: More than 50 active Accounts found']
count of unique: 20



key PRI.ACTIVE.ACCTS has following values:


[  0   1   2   5   4   8   3   6   9  11   7  14  10  12  21  20  15  16
  18  13  19  17  31  25  23  27  26  65  32  24  22  35  34  52  28  43
  37 144  42  39]
count of unique: 40



key PRI.OVERDUE.ACCTS has following values:


[ 0  1  3  2 14  4  5  8  6  7  9 18 13 11 12 17 10 23 19 15 16 25]
count of unique: 22



key SEC.NO.OF.ACCTS has following values:


[ 0  2  1  3 11  9  5  4  7 19  6 16  8 10 23 13 25 46 14 31 15 20 18 28
 30 38 37 29 12 24 17 34 21 42 22 35 52]
count of unique: 37



key SEC.ACTIVE.ACCTS has following values:


[ 0  2  1  3 11  4  9  5  7  6 10 26 22  8 21 14 15 12 20 13 36 17 16]
count of unique: 23



key SEC.OVERDUE.ACCTS has following values:


[0 1 4 5 3 2 6 8 7]
count of unique: 9



key NEW.ACCTS.IN.LAST.SIX.MONTHS has following values:


[ 0  1  4  2  6  3  9  5 14  8  7 13 22 10 11 12 35 17 28 15 19 23 16 20
 18 21]
count of unique: 26



key DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS has following values:


[ 0  1  2  3  5  4  7  6  8  9 12 10 20 11]
count of unique: 14



key NO.OF_INQUIRIES has following values:


[ 0  1  4  2  3  5  6 12  9  8 18  7 19 11 10 15 14 17 20 13 23 28 16 22
 36]
count of unique: 25



key loan_default has following values:


[0 1]
count of unique: 2

In [7]:
countD = {col: pd.concat([df.groupby(col).agg('count').iloc[:, 0],\
                          df.groupby(col)['loan_default'].sum()], axis=1) \
                          .sort_values(by=['UniqueID', 'loan_default'], \
                          ascending=False) for col in df.columns if df[col].nunique() < 100}
for k, v in zip(countD.keys(), countD.values()):
    print(f'key {k} has following values:')
    print('\n')
    v['percentage'] = (v['loan_default']/v['UniqueID']) * 100
    print(v)
    print(f'count of unique: {len(v)}')
    print('\n\n')

key branch_id has following values:


           UniqueID  loan_default  percentage
branch_id
2             13138          2455   18.686254
67            11328          2198   19.403249
3              9230          1614   17.486457
5              9218          2047   22.206552
36             8832          2621   29.676178
136            7833          1721   21.971148
34             7794          1419   18.206313
16             6466          1815   28.069904
19             5860           933   15.921502
1              5709           853   14.941321
146            5376          1519   28.255208
18             5032          1169   23.231320
152            4933           658   13.338739
61             4906          1111   22.645740
48             4725           931   19.703704
11             4506           942   20.905459
20             4431           865   19.521553
138            4352           905   20.795037
74             4297          1168   27.181755
120            4210          1118   26.555819
147            4160          1129   27.139423
10             4125          1142   27.684848
103            3878           727   18.746777
251            3844          1322   34.391259
65             3509           989   28.184668
160            3505           656   18.716120
79             3413           751   22.004102
7              3222           656   20.360025
135            3203           581   18.139244
8              3146           431   13.699936
...             ...           ...         ...
77             1445           279   19.307958
72             1294           269   20.788253
257            1256           249   19.824841
17             1160           171   14.741379
130            1069           215   20.112254
82             1035           187   18.067633
165            1021           227   22.233105
121             884           171   19.343891
249             858           195   22.727273
76              855           205   23.976608
69              810           215   26.543210
35              693           193   27.849928
153             692           198   28.612717
62              691           146   21.128799
207             689           134   19.448476
43              584           125   21.404110
117             558           158   28.315412
142             473            79   16.701903
97              389           122   31.362468
258             374            77   20.588235
260             372            98   26.344086
101             368            86   23.369565
259             346            79   22.832370
100             331            52   15.709970
66              314            53   16.878981
217             183            45   24.590164
261             176            39   22.159091
84              156            31   19.871795
111              89            20   22.471910
158              69            19   27.536232

[82 rows x 3 columns]
count of unique: 82



key manufacturer_id has following values:


                 UniqueID  loan_default  percentage
manufacturer_id
86                 109534         22410   20.459401
45                  56626         12939   22.849928
51                  27204          5657   20.794736
48                  16710          4554   27.253142
49                  10220          2236   21.878669
120                  9658          2132   22.074964
67                   2405           523   21.746362
145                   778           156   20.051414
153                    12             4   33.333333
152                     6             0    0.000000
156                     1             0    0.000000
count of unique: 11



key Employment.Type has following values:


                 UniqueID  loan_default  percentage
Employment.Type
Self employed      127635         29057   22.765699
Salaried            97858         19910   20.345807
count of unique: 2



key DisbursalDate has following values:


               UniqueID  loan_default  percentage
DisbursalDate
31-10-18           8826          2617   29.651031
24-10-18           6701          1555   23.205492
31-08-18           6690          1575   23.542601
23-10-18           6440          1547   24.021739
26-10-18           6215          1615   25.985519
25-10-18           5944          1465   24.646703
22-10-18           5928          1254   21.153846
30-10-18           5837          1502   25.732397
30-08-18           4664          1007   21.590909
29-10-18           4389          1125   25.632262
27-10-18           4273          1054   24.666511
29-08-18           3942           857   21.740233
20-09-18           3910           683   17.468031
14-09-18           3806           708   18.602207
28-09-18           3733           759   20.332173
29-09-18           3700           833   22.513514
21-10-18           3693           783   21.202275
28-08-18           3665           700   19.099591
19-09-18           3611           662   18.332872
30-09-18           3601           799   22.188281
20-10-18           3488           712   20.412844
21-09-18           3381           646   19.106773
13-10-18           3312           730   22.041063
25-09-18           3295           589   17.875569
17-08-18           3167           602   19.008525
27-09-18           3152           627   19.892132
16-08-18           3145           624   19.841017
26-09-18           3114           605   19.428388
22-08-18           3093           652   21.079858
15-10-18           3024           667   22.056878
...                 ...           ...         ...
06-09-18           2029           392   19.319862
28-10-18           2028           482   23.767258
07-09-18           1987           430   21.640664
10-10-18           1906           416   21.825813
16-09-18           1804           319   17.682927
08-08-18           1794           443   24.693423
11-09-18           1790           283   15.810056
13-08-18           1783           357   20.022434
06-10-18           1763           398   22.575156
04-09-18           1726           346   20.046350
01-08-18           1708           392   22.950820
05-09-18           1699           350   20.600353
10-08-18           1692           477   28.191489
03-08-18           1666           387   23.229292
09-08-18           1653           420   25.408348
08-09-18           1576           348   22.081218
10-09-18           1539           349   22.677063
27-08-18           1517           322   21.226104
04-10-18           1490           309   20.738255
04-08-18           1411           336   23.812899
03-09-18           1406           259   18.421053
22-09-18           1401           247   17.630264
14-10-18           1351           289   21.391562
18-10-18           1203           266   22.111388
05-10-18           1149           254   22.106179
26-08-18            705           137   19.432624
12-08-18            572           123   21.503497
13-09-18            330            62   18.787879
05-08-18             42             7   16.666667
02-10-18             25             2    8.000000

[84 rows x 3 columns]
count of unique: 84



key State_ID has following values:


          UniqueID  loan_default  percentage
State_ID
4            44870          9326   20.784489
3            34078          6345   18.619050
6            33505          6890   20.564095
13           17884          5483   30.658689
9            16022          3492   21.795032
8            14197          3258   22.948510
5            10177          2023   19.878157
14            9414          2597   27.586573
1             8936          1583   17.714861
7             6786          1369   20.173887
11            6721          1373   20.428508
18            5412          1191   22.006652
15            5049          1068   21.152704
12            4210          1118   26.555819
2             4160          1129   27.139423
17            3991           981   24.580306
10            3605           633   17.558946
16            2685           493   18.361266
19            1035           187   18.067633
20             185            32   17.297297
21             156            31   19.871795
22              76             9   11.842105
count of unique: 22



key MobileNo_Avl_Flag has following values:


                   UniqueID  loan_default  percentage
MobileNo_Avl_Flag
1                    233154         50611   21.707112
count of unique: 1



key Aadhar_flag has following values:


             UniqueID  loan_default  percentage
Aadhar_flag
1              195924         41065   20.959658
0               37230          9546   25.640612
count of unique: 2



key PAN_flag has following values:


          UniqueID  loan_default  percentage
PAN_flag
0           215533         46734   21.682991
1            17621          3877   22.002157
count of unique: 2



key VoterID_flag has following values:


              UniqueID  loan_default  percentage
VoterID_flag
0               199360         41795   20.964587
1                33794          8816   26.087471
count of unique: 2



key Driving_flag has following values:


              UniqueID  loan_default  percentage
Driving_flag
0               227735         49519   21.744132
1                 5419          1092   20.151319
count of unique: 2



key Passport_flag has following values:


               UniqueID  loan_default  percentage
Passport_flag
0                232658         50537   21.721583
1                   496            74   14.919355
count of unique: 2



key PERFORM_CNS.SCORE.DESCRIPTION has following values:


                                                    UniqueID  loan_default  \
PERFORM_CNS.SCORE.DESCRIPTION
No Bureau History Available                           116950         27052
C-Very Low Risk                                        16045          2770
A-Very Low Risk                                        14124          2341
D-Very Low Risk                                        11358          1699
B-Very Low Risk                                         9201          1208
M-Very High Risk                                        8776          2673
F-Low Risk                                              8485          1580
K-High Risk                                             8277          2302
H-Medium Risk                                           6855          1658
E-Low Risk                                              5821          1000
I-Medium Risk                                           5557          1515
G-Low Risk                                              3988           786
Not Scored: Sufficient History Not Available            3765           963
J-High Risk                                             3748           946
Not Scored: Not Enough Info available on the cu...      3672           770
Not Scored: No Activity seen on the customer (I...      2885           530
Not Scored: No Updates available in last 36 months      1534           292
L-Very High Risk                                        1134           318
Not Scored: Only a Guarantor                             976           208
Not Scored: More than 50 active Accounts found             3             0

                                                    percentage
PERFORM_CNS.SCORE.DESCRIPTION
No Bureau History Available                          23.131253
C-Very Low Risk                                      17.263945
A-Very Low Risk                                      16.574625
D-Very Low Risk                                      14.958619
B-Very Low Risk                                      13.129008
M-Very High Risk                                     30.458067
F-Low Risk                                           18.621096
K-High Risk                                          27.812009
H-Medium Risk                                        24.186725
E-Low Risk                                           17.179179
I-Medium Risk                                        27.262912
G-Low Risk                                           19.709127
Not Scored: Sufficient History Not Available         25.577689
J-High Risk                                          25.240128
Not Scored: Not Enough Info available on the cu...   20.969499
Not Scored: No Activity seen on the customer (I...   18.370884
Not Scored: No Updates available in last 36 months   19.035202
L-Very High Risk                                     28.042328
Not Scored: Only a Guarantor                         21.311475
Not Scored: More than 50 active Accounts found        0.000000
count of unique: 20



key PRI.ACTIVE.ACCTS has following values:


                  UniqueID  loan_default  percentage
PRI.ACTIVE.ACCTS
0                   137016         31051   22.662317
1                    42055          9182   21.833314
2                    21549          4517   20.961530
3                    12268          2479   20.207043
4                     7460          1375   18.431635
5                     4542           765   16.842801
6                     2788           477   17.109039
7                     1795           265   14.763231
8                     1202           174   14.475874
9                      756           101   13.359788
10                     515            69   13.398058
11                     330            44   13.333333
12                     229            26   11.353712
13                     177            23   12.994350
14                     120            15   12.500000
15                      96            13   13.541667
17                      54            10   18.518519
16                      53             6   11.320755
18                      33             2    6.060606
19                      27             2    7.407407
20                      13             1    7.692308
24                      10             5   50.000000
22                      10             3   30.000000
23                      10             2   20.000000
21                       9             0    0.000000
25                       7             2   28.571429
26                       6             0    0.000000
28                       5             0    0.000000
27                       3             0    0.000000
32                       2             1   50.000000
35                       2             1   50.000000
31                       2             0    0.000000
34                       2             0    0.000000
37                       2             0    0.000000
39                       1             0    0.000000
42                       1             0    0.000000
43                       1             0    0.000000
52                       1             0    0.000000
65                       1             0    0.000000
144                      1             0    0.000000
count of unique: 40



key PRI.OVERDUE.ACCTS has following values:


                   UniqueID  loan_default  percentage
PRI.OVERDUE.ACCTS
0                    206879         43408   20.982313
1                     19970          5382   26.950426
2                      4302          1241   28.847048
3                      1202           361   30.033278
4                       404           120   29.702970
5                       166            48   28.915663
6                        96            22   22.916667
7                        38             7   18.421053
8                        27             7   25.925926
9                        25             4   16.000000
11                       12             4   33.333333
12                        8             2   25.000000
10                        6             1   16.666667
13                        5             1   20.000000
14                        5             1   20.000000
18                        2             1   50.000000
17                        2             0    0.000000
16                        1             1  100.000000
15                        1             0    0.000000
19                        1             0    0.000000
23                        1             0    0.000000
25                        1             0    0.000000
count of unique: 22



key SEC.NO.OF.ACCTS has following values:


                 UniqueID  loan_default  percentage
SEC.NO.OF.ACCTS
0                  227289         49499   21.778001
1                    3466           684   19.734564
2                    1036           173   16.698842
3                     444            92   20.720721
4                     292            54   18.493151
5                     148            21   14.189189
6                     119            21   17.647059
7                      75            17   22.666667
8                      68            10   14.705882
9                      38             8   21.052632
10                     35             5   14.285714
11                     29             7   24.137931
13                     17             6   35.294118
12                     13             2   15.384615
14                     11             3   27.272727
16                     11             2   18.181818
15                     10             1   10.000000
18                      6             2   33.333333
19                      6             1   16.666667
17                      5             0    0.000000
20                      4             1   25.000000
22                      4             0    0.000000
23                      4             0    0.000000
31                      4             0    0.000000
21                      3             0    0.000000
30                      2             1   50.000000
38                      2             1   50.000000
24                      2             0    0.000000
34                      2             0    0.000000
46                      2             0    0.000000
25                      1             0    0.000000
28                      1             0    0.000000
29                      1             0    0.000000
35                      1             0    0.000000
37                      1             0    0.000000
42                      1             0    0.000000
52                      1             0    0.000000
count of unique: 37



key SEC.ACTIVE.ACCTS has following values:


                  UniqueID  loan_default  percentage
SEC.ACTIVE.ACCTS
0                   229337         49887   21.752705
1                     2684           522   19.448584
2                      636           102   16.037736
3                      195            36   18.461538
4                      116            26   22.413793
5                       65            15   23.076923
6                       32             8   25.000000
7                       22             3   13.636364
8                       17             2   11.764706
9                       11             1    9.090909
10                       9             4   44.444444
11                       7             0    0.000000
12                       6             3   50.000000
15                       4             1   25.000000
13                       3             0    0.000000
22                       2             1   50.000000
16                       2             0    0.000000
14                       1             0    0.000000
17                       1             0    0.000000
20                       1             0    0.000000
21                       1             0    0.000000
26                       1             0    0.000000
36                       1             0    0.000000
count of unique: 23



key SEC.OVERDUE.ACCTS has following values:


                   UniqueID  loan_default  percentage
SEC.OVERDUE.ACCTS
0                    231817         50341   21.715836
1                      1129           219   19.397697
2                       126            33   26.190476
3                        47            11   23.404255
4                        19             3   15.789474
5                         8             2   25.000000

/home/rishabhdhiman/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'loan_default' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [23]:
# converting date times
cols = ['Date.of.Birth', 'DisbursalDate']
a = []
for col in cols:
    df[col] = df[col].apply(lambda x: dt.datetime.strptime(x, '%d-%m-%y'))
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,1984-01-01,Salaried,2018-08-03,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,1985-07-31,Self employed,2018-09-26,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,1985-08-24,Self employed,2018-08-01,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,1993-12-30,Self employed,2018-10-26,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,1977-12-09,Self employed,2018-09-26,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [92]:
regex = re.compile(r'((?P<year>\d+?)yrs)?\s((?P<month>\d+?)mon)')
def parseDate(date_str):
    parts = regex.match(date_str)
    if not parts:
        return
    parts = parts.groupdict()
    days = 0
    for k, v in zip(parts.keys(), parts.values()):
        if v:
            days += int(v)*360 if k == 'year' else int(v)*30
    return days

In [93]:
cols = ['AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH']
for col in cols:
    df[col] = df[col].apply(lambda x: parseDate(x))
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,1984-01-01,Salaried,2018-08-03,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,1985-07-31,Self employed,2018-09-26,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,690,690,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,1985-08-24,Self employed,2018-08-01,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,1993-12-30,Self employed,2018-10-26,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,240,450,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,1977-12-09,Self employed,2018-09-26,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1

In [101]:
df['AgeWhenPaied'] = (df['DisbursalDate'] - df['Date.of.Birth']).dt.total_seconds()/(60*60*24*360)
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,AgeWhenPaied
0,420825,50578,58400,89.55,67,22807,45,1441,1984-01-01,Salaried,2018-08-03,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.091667
1,537409,47145,65550,73.23,67,22807,45,1502,1985-07-31,Self employed,2018-09-26,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,690,690,0,1,33.638889
2,417566,53278,61360,89.63,67,22807,45,1497,1985-08-24,Self employed,2018-08-01,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,33.416667
3,624493,57513,66113,88.48,67,22807,45,1501,1993-12-30,Self employed,2018-10-26,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,240,450,1,1,25.183333
4,539055,52378,60300,88.39,67,22807,45,1495,1977-12-09,Self employed,2018-09-26,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,41.391667

In [106]:
# people with negative age who are doing loan default
len(df[np.logical_and(df['AgeWhenPaied'] <= 0, df['loan_default'] == 1)])

3816

In [112]:
li = [df['AgeWhenPaied'] <= 0]
df['Fa']

[0         False
 1         False
 2         False
 3         False
 4         False
 5         False
 6         False
 7         False
 8         False
 9          True
 10        False
 11        False
 12        False
 13        False
 14        False
 15        False
 16        False
 17        False
 18        False
 19        False
 20        False
 21        False
 22        False
 23        False
 24        False
 25        False
 26         True
 27        False
 28        False
 29        False
           ...
 233124    False
 233125    False
 233126    False
 233127    False
 233128    False
 233129    False
 233130     True
 233131    False
 233132    False
 233133    False
 233134    False
 233135    False
 233136    False
 233137    False
 233138    False
 233139    False
 233140    False
 233141    False
 233142    False
 233143     True
 233144     True
 233145    False
 233146    False
 233147    False
 233148    False
 233149    False
 233150    False
 233151    False
 233152    False
 233153    False
 Name: AgeWhenPaied, Length: 233154, dtype: bool]